<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>User Registration</h1>
    </header>
    <main>
        <section class="content">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Register</button>
            </form>
        </section>
    </main>
</body>
</html>
